<h1>Root path</h1>

<h2><%= link_to "New Project", new_project_path %></h2>
<div id="projects">
  <% @projects.each do |project| %>
    <h4><%= link_to project.name, project %></h4>
    <div><p><%= project.description %></p></div>
  <% end %>
</div>
